@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #272a33;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
    overflow-x: hidden;
    box-sizing: border-box;
}

#appWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid #3c404d;
    box-sizing: border-box;
}

#mainContainer {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

#userContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

#statusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    box-sizing: border-box;
    background: #3b404c;
    border: 1px solid #596172;
}

#statusContainer.connected {
    background: #2a7758;
    border: 1px solid #37996f;
}

#statusContainer.disconnected {
    background: #ad2d2d;
    border: 1px solid #d9534f;
}

#infoGeneral{
    text-align: center;
}

#infoExpiry{
    font-weight: bold;
    text-align: center;
}

#infoExpiry.warning {
    color: rgb(255, 185, 128);
}

#infoExpiry.expired {
    color: #d65f5f;
}

#jwtInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.refresh-link {
    color: rgb(255, 185, 128);
}

#avatar {
    height: 40px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
}

#configBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    background: url('/assets/settings-icon.svg');
    cursor: pointer;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

@media (min-width: 400px) or (min-height: 300px) {
    #configBtn {
        position: absolute;
        top: -16px;
    }  
}

@media (max-height: 205px) {
    #avatar {
        display: none;
    }

    #configBtn {
        position: fixed;
        top: unset;
        bottom: 10px;
        width: 15px;
        height: 15px;
    }

}

@media (max-height: 115px) {
    #username {
        display: none;
    }
}

@media (max-height: 90px) {
    #statusContainer{
        color: transparent;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        position: fixed;
        top: 10px;
        left: 10px;
    }

    #configBtn {
        top: 10px;
        width: 15px;
        height: 15px;
    }

    #mainContainer{
        gap: 0px;
    }
}

#seLink{
    font-size: 12px;
    color: #bbb;
    margin-bottom: 20px;
    cursor: pointer;
}

#seLink.copied{
    color: #37996f;
}

#configOverlay {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #272a33;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 100;
    scrollbar-gutter: stable both-edges;
}

#configForm {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#configForm label {
    display: block;
    margin-bottom: 10px;
}

#configForm input {
    width: 150px;
    height: 20px;
    background: #3b404c;
    border: 1px solid #596172;
    color: white;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
}

#tipplyId{
    margin-bottom: 20px;
}

#seToken{
    margin-bottom: 10px;
}

#buttonsContainer{
    display: flex;
    gap: 10px;
}

#buttonsContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
}

#buttonsContainer button:hover{
    filter: brightness(0.9);
}

#saveConfig{
    background: #2a7758;
    border: 1px solid #37996f;
}

#closeConfig{
    background: #ad2d2d;
    border: 1px solid #d9534f;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #15171c; 
}

::-webkit-scrollbar-thumb {
  background: #61697f; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d768f; 
}
